# Adding directories through .env (copy this file and rename to .env)
# 通过.env添加目录 (复制此文件并重命名为 .env)

# Directories added in .env will not be removed during run time
# 此处添加的目录无法在运行时移除

# Images in the directories will be loaded automatically
# 目录下的图片会被自动加载

# Format, sperate each with ";"
# 格式，以“;”分隔每一路径
IMG_ROOT=A:\BCD\EFG;./images